Projet : Accident de la route
==============

## Etape 3 : Séparation des datasets



### Import des données

In [1]:
# import des librairies
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.display.max_info_columns

from sklearn.model_selection import train_test_split

In [2]:
# import du dataset
df = pd.read_csv("dataset/dataset_final.csv")
print(df.shape)
df.head()

(456428, 35)

,place,catu,grav,sexe,trajet,secu1,locp,catr,circ,nbv,vosp,prof,plan,surf,infra,situ,vma,lum,com,agg,int,atm,col,lat,long,senc,catv,obs,obsm,choc,manv,motor,age_group,h_group,weekday
0,1,1,1,1,5,1,-1,4,2,2,0,1,1,1,0,1,50,1,26198,2,3,1,3,44.559420,4.725720,1,3,0,2,1,9,1,2,6,2
1,1,1,0,1,5,1,-1,4,2,2,0,1,1,1,0,1,50,1,26198,2,3,1,3,44.559420,4.725720,1,6,0,2,2,1,1,7,6,2
2,1,1,1,1,9,1,0,4,2,2,0,1,1,1,0,1,50,1,25204,2,3,1,3,46.925810,6.346200,2,6,0,2,8,15,1,4,3,3
3,1,1,0,1,4,1,0,4,2,2,0,1,1,1,0,1,50,1,25204,2,3,1,3,46.925810,6.346200,2,5,0,2,1,1,1,6,3,3
4,1,1,0,1,0,1,-1,3,-1,2,0,1,1,1,5,1,50,1,22360,2,6,1,2,48.493162,-2.760439,2,6,0,2,1,2,1,3,6,3

### Séparation du dataset en un train set et un test set

In [3]:
df['index'] = df.index
df_train, df_test = train_test_split(df, test_size=0.2, random_state = 42, stratify=df['grav'])
print("Séparation des labels et targets :", df_train.shape, df_test.shape)

Séparation des labels et targets : (365142, 36) (91286, 36)

In [4]:
df_train

,place,catu,grav,sexe,trajet,secu1,locp,catr,circ,nbv,vosp,prof,plan,surf,infra,situ,vma,lum,com,agg,int,atm,col,lat,long,senc,catv,obs,obsm,choc,manv,motor,age_group,h_group,weekday,index
238868,10,3,1,1,3,2,2,4,2,3,0,1,1,1,0,1,50,1,75114,2,3,1,6,48.832229,2.312869,2,6,0,1,2,15,1,7,6,3,238868
218941,1,1,0,1,5,1,-1,3,2,3,3,1,1,1,0,1,50,5,94041,2,1,1,6,48.810000,2.390000,2,6,0,2,2,1,1,5,7,0,218941
15021,2,2,0,2,5,1,-1,4,2,2,0,1,2,1,0,1,50,2,94070,2,1,1,6,48.716290,2.571050,2,6,11,0,1,14,1,3,7,3,15021
134849,10,3,1,2,3,2,1,4,1,1,0,1,1,1,0,1,50,1,81065,2,1,1,6,43.600446,2.257076,1,5,0,1,3,15,1,7,4,2,134849
245500,1,1,1,1,5,2,0,3,2,2,0,1,3,2,0,8,80,3,55088,1,1,2,7,48.552615,5.667520,1,6,2,0,1,0,1,4,6,5,245500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413572,1,1,1,1,1,1,0,3,2,2,0,1,1,1,0,1,70,1,72200,1,1,1,3,47.909677,0.170677,2,3,0,2,1,1,1,4,6,3,413572
418281,10,3,1,1,9,2,3,3,2,2,0,1,1,1,0,1,50,1,38140,2,1,1,6,45.274870,5.880820,1,6,0,1,2,1,1,2,6,1,418281
183015,1,1,0,2,4,1,0,4,1,3,1,1,1,2,0,5,50,1,75110,2,1,2,3,48.871370,2.355433,1,6,0,2,6,22,1,5,5,4,183015
81877,8,2,0,1,4,2,0,3,3,4,0,1,1,1,0,1,50,5,91665,2,1,1,1,48.660306,2.276005,1,5,0,2,1,1,1,2,7,2,81877
410956,1,1,0,1,0,1,-1,3,2,2,0,1,1,1,0,1,50,1,93031,2,1,1,6,48.965650,2.344460,1,6,0,1,1,1,0,7,5,4,410956

In [5]:
df_test

,place,catu,grav,sexe,trajet,secu1,locp,catr,circ,nbv,vosp,prof,plan,surf,infra,situ,vma,lum,com,agg,int,atm,col,lat,long,senc,catv,obs,obsm,choc,manv,motor,age_group,h_group,weekday,index
422246,1,1,1,2,5,1,0,4,-1,2,0,1,1,1,0,1,50,5,66136,2,2,1,3,42.696700,2.888120,1,6,0,2,7,1,1,4,2,5,422246
176315,5,2,1,2,0,1,-1,7,2,4,0,2,1,1,0,1,50,5,13215,2,1,1,3,43.372900,5.351200,0,3,0,2,7,1,1,6,1,2,176315
236564,1,1,1,1,4,1,-1,1,1,2,0,1,3,1,0,1,80,1,69283,1,1,1,5,45.672100,4.941200,2,5,0,2,1,13,1,4,6,1,236564
262438,1,1,0,2,9,1,0,1,3,4,0,1,1,2,0,1,130,3,87014,1,1,2,5,46.085555,1.358507,2,6,1,0,3,2,1,7,7,6,262438
182769,1,1,1,1,5,1,0,1,3,1,0,1,1,1,8,1,70,1,67462,1,1,1,2,48.287459,7.459164,1,3,4,2,1,1,1,3,6,5,182769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167232,1,1,1,2,0,1,0,2,1,4,0,1,1,1,0,8,110,1,55015,1,1,1,7,48.641294,5.111293,1,6,5,0,3,13,1,7,6,2,167232
308738,1,1,0,1,5,1,-1,3,3,2,0,1,1,1,2,1,50,1,92025,2,3,1,6,48.917894,2.224065,1,6,0,1,3,15,1,6,5,5,308738
117677,7,2,0,2,5,1,0,1,3,5,0,1,1,2,0,1,130,3,27188,1,1,8,2,49.291091,1.123604,1,6,0,2,1,2,1,5,6,2,117677
370755,1,1,0,1,0,1,-1,1,3,6,0,1,1,1,0,1,90,1,97209,1,1,1,2,14.618282,-61.037377,1,6,0,2,1,2,1,4,5,1,370755
376999,1,1,0,1,5,1,0,3,2,2,0,1,1,2,0,1,50,2,50218,2,1,3,2,48.837580,-1.544250,3,6,0,2,4,2,1,7,6,0,376999

### Sauvegarde des datasets

In [6]:
df_train.to_csv('dataset/df_train.csv', index=False)
df_test.to_csv('dataset/df_test.csv', index=False)